* {
    box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #eee;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

header {
	background-color: #0e0a00;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a.active,
nav a:hover {
  text-decoration: underline;
  color: #666;
}

nav a {
	color: #f5f5f5;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	transition: color 0.3s ease-in-out;
}

.hero {
	background-color: #0e0a00;
	padding: 100px 20px;
	text-align: center;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.hero h1 {
	font-size: 48px;
	margin-bottom: 20px;
	color: #b70035;
}

.hero p {
	font-size: 24px;
	margin-bottom: 40px;
	color: #f5f5f5;
}

.btn {
    colour: #f5f5f5;
    background-color: #b70035;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f5f5f5;
}

.img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.values {
	background-color: #f5f5f5;
	padding: 80px 20px;
	text-align: center;
}

.values h2 {
	 font-size: 36px;
}

.values p {
    font-size: 18px
}

.values img {
  border: 1px solid #b70035;
  border-radius: 150px;
  width: 150px;
  height: 200px;
}

.value {
	   display: inline;
}

.foot p {
    colour: #f5f5f5;
    align-items: center;
}
